/* Colour Palette */
:root {
    --baby-pink: #F8C8DC;
    --soft-pink: #EFA9C2;
    --cream: #FFF9F2;
    --brown: #5A3825;
    --dark-text: #3D3028;
    --white: #FFFFFF;
}
{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--dark-text);
    background-color: var(--cream);
    line-height: 1.6;
}
header {
    background-color: var(--baby-pink);
    padding: 20px;
    text-align: center;
}
/* Header */
header h1 {
    color: var(--brown);
    margin: 0 0 15px;
    font-size: 2.2rem;
}
nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
/*navigation*/
nav a {
    color: var(--brown);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--white);
}
/*main page*/
main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    color: var(--brown);
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    color: var(--brown);
}
/*hero section*/
.hero {
    min-height: 500px;

    background-image:
        linear-gradient(
            rgba(255, 249, 242, 0.75),
            rgba(255, 249, 242, 0.75)
        ),
        url("../images/bakery-watermark.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero h2 {
    font-size: 3rem;
}
/*button*/
a[href],
button {
    transition: 0.3s ease;
}

.hero a,
section a,
button {
    display: inline-block;
    background-color: var(--soft-pink);
    color: var(--white);
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.hero a:hover,
section a:hover,
button:hover {
    background-color: var(--brown);
}
/*product card*/
.product-card,
article {
    background-color: var(--white);
    padding: 25px;
    margin: 20px auto;
    border-radius: 15px;
    max-width: 350px;

    box-shadow: 0 4px 10px rgba(90, 56, 37, 0.15);
}
/*images*/
img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}
/*form*/


