/* Colour Palette */
:root {
    --baby-pink: #F8C8DC;
    --soft-pink: #EFA9C2;
    --cream: #FFF9F2;
    --brown: #5A3825;
    --dark-text: #3D3028;
    --white: #FFFFFF;
}
{
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--dark-text);
    background-color: var(--cream);
    line-height: 1.6;
}
